<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Page</title>

    <link rel="stylesheet" href="/static/style.css" />

    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .container {
        width: 50%;
        margin: 0 auto;
      }

      @media only screen and (max-width: 600px) {
        .container {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="flex container">
      <form action="/access" method="post">
        <h1>Access Website</h1>
        <h2>Why an access code?</h2>
        <p>
          This website is password-protected to ensure the security and privacy
          of the data it contains. We understand the importance of limiting
          access to the graph until we implement a more robust confidentiality
          system. Any information about yourself that you do not wish to have on
          the website will be promptly removed without further questions.
        </p>
        <p>
          However, it's worth noting that since there are multiple contributors,
          there is a possibility that the infomration will be added back. Until
          we develop a foolproof system to prevent this, the website will remain
          password-protected.
        </p>
        <input id="code" type="text" name="code" placeholder="Access Code" />
        <div style="background-color: #d69494; color: white" id="error"></div>
        <button type="submit" id="submit" value="Login">Submit</button>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    document.getElementById("submit").addEventListener("click", handleSubmit);
    function handleSubmit(e) {
      e.preventDefault();

      var code = document.getElementById("code").value;

      // /access endpoint
      // check status code
      fetch("/access", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ code: code }),
      }).then((response) => {
        if (response.status == 200) {
          window.location.href = "/";
        } else {
          document.getElementById("error").innerHTML = "Invalid code";
        }
      });
    }
  </script>
</html>
