<body style="background-color: #f8f9fa">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    "
  >
    <div
      style="
        max-width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: white;
      "
    >
      <h1 style="text-align: center">Disclaimer</h1>
      <p>
        This website is intended to be a silly project and not a source of
        verified information. The data presented here is gathered from informal
        and public conversations, and should not be considered accurate or
        reliable.
      </p>
      <p>
        If you are featured on this website and you find any information about
        you to be uncomfortable or inaccurate, please contact us immediately. We
        respect every individual's privacy and will promptly remove any
        information pertaining to you upon request, no questions asked.
      </p>

      <p>
        By using this website, you acknowledge that the information may be
        inaccurate or incomplete and agree to not hold the website, its creator,
        or associated parties responsible for any issues that may arise from its
        use.
      </p>
      <p>
        Your continued use of the website constitutes your acceptance of these
        terms.
      </p>
      <p style="text-align: center">
        <a href="/">Go back to the main page</a>
      </p>
    </div>
  </div>
</body>
