<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Churchill Database Edit Version</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="static/favicon.png" />

    <link
      href="https://unpkg.com/vis-network@7.7.0/styles/vis-network.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <p>
      Disclaimer: By using this website, you acknowledge and accept the
      disclaimer located
      <a href="/disclaimer">here</a>.
    </p>

    <h1>Welcome to the Churchill Database</h1>
    <h2 style="text-align: center">Admin Version <a style='color:#404040;'href="/logout">(logout)</a></h2>
    <div class="flex">
      <div
        id="graph-container"
        class="graph-container"
        style="width: 100%; height: 600px"
      ></div>

      <div
        id="context-menu"
        class="context-menu results"
        style="display: none"
      ></div>
    </div>

    <h2>Rules:</h2>
    <p>
      This database is designed to track relationships between individuals
      within the school community. Please do not log about random people from
      outside of school, that one dude you met at UCPA last summer should not be
      here. We aim to maintain a database focused on people known to others
      within the school.
    </p>
    <p>
      As a rule of thumb, log information about someone only if one of the
      following conditions is met:
    </p>
    <ul>
      <li>They have been at the Lycée or Charles de Gaulle at some point</li>
      <li>
        They got with at least two people from school (no vacation people)
      </li>
    </ul>
    <p>
      Please do not log about people in Year 10 or bellow. The database should
      include only information about lycéean students.
    </p>

    <h2>Why?</h2>

    <p>
      This website offers a funny way to visualize the relationships among
      people within our school. The data is stored in a graph database, which
      organizes data into nodes (such as people) and edges (representing
      relationships). This website was created simply because mapping the
      relationships among people in our school seemed like an interesting way to
      learn about graphs.
    </p>
    <p>
      However, by putting this online, some considerations have arrised. It is
      important to note that the actual data itself was not given much
      consideration, so it should not be taken too seriously. Nevertheless, we
      believe that as different people contribute to this database, it will
      become more interesting and accurate. Our intention is not to cause any
      unnecessary drama. If there is any information about you that you are
      uncomfortable with being shared here, please inform us, and we will
      promptly remove it without further questions (although if it's here, it's
      likely already common knowledge within the school). We welcome any
      suggestions or feedback you may have.
    </p>

    <h2>Create Person</h2>
    <form id="create-person-form">
      <input
        type="text"
        id="person-name"
        placeholder="Person Name *"
        required
      />
      <input type="text" id="person-grade" placeholder="Grade" />
      <input
        type="text"
        id="person-school"
        placeholder="School"
        value="Lycée International de Londres Winston Churchill"
      />
      <input type="email" id="person-email" placeholder="Email" />
      <input type="text" id="person-snapchat" placeholder="Snapchat" />
      <input type="text" id="person-instagram" placeholder="Instagram" />
      <input type="tel" id="person-phone" placeholder="Phone Number" />
      <button type="submit">Create Person</button>
    </form>

    <h2>Create Relationship</h2>
    <form id="create-relationship-form">
      <input
        list="p1-list"
        type="text"
        id="p1"
        placeholder="Person 1"
        required
      />
      <datalist id="p1-list"></datalist>

      <!-- <input type="text" id="relationship" placeholder="Relationship" required> -->
      <select id="relationship" required>
        <option value="" disabled>Select Relationship</option>
        <option value="GOT_WITH" selected>Got With</option>
        <option value="DATED">Dated</option>
        <option value="DATING">Dating</option>
      </select>
      <input
        list="p2-list"
        type="text"
        id="p2"
        placeholder="Person 2"
        required
      />
      <datalist id="p2-list"> </datalist>

      <div id="relationship-status"></div>
      <button type="submit">Create Relationship</button>
    </form>

    <h2>Get Person Info</h2>
    <form id="get-person-info-form">
      <input
        list="info-name-list"
        type="text"
        id="info-name"
        placeholder="Person Name"
        required
      />
      <datalist id="info-name-list"></datalist>

      <button type="submit">Get Info</button>
    </form>
    <div id="person-info-results" , class="results" style="display: none"></div>
    <div style="padding: 10px"></div>
  </body>

  <script type="text/javascript" src="static/script.js"></script>

  <script
    defer
    type="text/javascript"
    src="https://unpkg.com/vis-network@7.7.0/standalone/umd/vis-network.min.js"
  ></script>

  <script defer type="text/javascript" src="static/graph.js"></script>
</html>
