<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/favicon.png" />
    <title>Churchill Database</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />

    <link
      href="https://unpkg.com/vis-network@7.7.0/styles/vis-network.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <p>
      Disclaimer: By using this website, you acknowledge and accept the
      disclaimer located
      <a href="/disclaimer">here</a>.
    </p>

    <h1>Welcome to the Churchill Database</h1>
    <div class="flex">
      <div
        id="graph-container"
        class="graph-container"
        style="width: 100%; height: 600px;"
      ></div>

      <div
        id="context-menu"
        class="context-menu results"
        style="display: none"
      ></div>
    </div>

    <h2>Edit:</h2>

    <p>
      For the time being, only a small number of people have direct access to
      the database. Log in <a href="/login">here</a> if you are one of these
      people. If this is not the case, you can still provide suggestions, which
      will most likely be approved.
    </p>
    <textarea
      type="text"
      id="suggestion"
      name="suggestion"
      placeholder="Suggestion"
      rows="4"
    ></textarea>
    <div style="color: white" id="suggestion-status"></div>
    <button id="submit-suggestion">Submit</button>

    <h2>Why?</h2>

    <p>
      This website offers a funny way to visualize the relationships among
      people within our school. The data is stored in a graph database, which
      organizes data into nodes (such as people) and edges (representing
      relationships). This website was created simply because mapping the
      relationships among people in our school seemed like an interesting way to
      learn about graphs.
    </p>
    <p>
      However, by putting this online, some considerations have arrised. It is
      important to note that the actual data itself was not given much
      consideration, so it should not be taken too seriously. Nevertheless, we
      believe that as different people contribute to this database, it will
      become more interesting and accurate. Our intention is not to cause any
      unnecessary drama. If there is any information about you that you are
      uncomfortable with being shared here, please inform us, and we will
      promptly remove it without further questions (although if it's here, it's
      likely already common knowledge within the school). We welcome any
      suggestions or feedback you may have.
    </p>

    <div style="padding: 10px"></div>
  </body>

  <script type="text/javascript" src="static/view.js"></script>

  <script
    defer
    type="text/javascript"
    src="https://unpkg.com/vis-network@7.7.0/standalone/umd/vis-network.min.js"
  ></script>

  <script defer type="text/javascript" src="static/graph.js"></script>
</html>
